body {
    background-color: #dadfe4;
}

.navbar-brand {
    color: #fff !important;
}

.custom-card {
    background-color: antiquewhite;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #2aab48;
}